# Exclude the file listed below
test.ps1
temp.txt
script-help.ps1
tx3TriageCert.cer
tx3TriageCert.pfx
SearchTerms.txt
HPFileSearchNames.txt


modules/000-Testing.psm1


# Directories to ignore
DFIR-MAS-4N6-BOX-2025-02-13/