*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Cinzel', serif;
  font-family: 'Raleway', sans-serif;
  /* Page background color */
  background: #22313f;
  color: #fff;
  line-height: 1.6rem;
  text-align: center;
  /* ===== PATCH ===== */
  --patchHeight: 7.25%;
  --patchWidth: 7.25%;
  /* ===== TITLE ===== */
  --titleFontColor: #DDDDDD;
  --containerWidth: 75%;
  --containerBorder: 1px dashed #fff;
  --containerPadding: 1.5rem 1.5rem;
  --paraFontSize: 1.25em;
  --paraFontColor: #CCCCCC;
  /* ===== BUTTON ===== */
  --btnFont: 'Roboto Light', sans-serif;
  --btnFontSize: 1.75rem;
  --btnFontColor: #FFF;
  --btnBgColor: #922B21FF;
  --btnBorder: 1px solid transparent;
  --btn-margin-top: 1rem;
  --btn-hover-font-color: #DDD;
  --btn-hover-border: dashed 2px #FFF;
  --btn-hover-bg-color: #922B21;
  /* ===== FOOTER ===== */
  --footerFont: 'Roboto Light', sans-serif;
  --footerFontSize: 1rem;
  --footerFontColor: #DDD;
  --footerLetterSpacing: 0.15rem;
  --footerLineHeight: 1.4rem;
  /* ===== DISCLAIMER ===== */
  --disclaimerFontColor: #DDD;
  --disclaimerFontSize: 0.9rem;
  --disclaimerFont: 'Roboto Light', sans-serif;
  --disclaimerBgColor: #1A5276DD;
  --disclaimerLetterSpacing: 0.15rem;
  --disclaimerLineHeight: 1.4rem;
  --disclaimerBorder: 1px solid transparent;
  --disclaimerBorderRadius: 0.5rem;
}

#showcase {
  margin-top: 1em;
}

.patch {
  align-self: center;
  height: var(--patchHeight);
  width: var(--patchWidth);
  /* margin-bottom: 2rem; */
}

/* #showcase { */
#title {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* font-size: 50px; */
  font-size: 3vw;
  font-family: 'Raleway';
  color: var(--titleFontColor);
  line-height: 1.3;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0rem;
  /* background-color: #9D9D9D; */
}

#title > p {
  margin: 1rem 0rem 1rem 0rem;
}

.container {
  margin: auto;
  max-width: var(--containerWidth);
  padding: var(--containerPadding);
  border: var(--containerBorder);
  animation-duration: 2.5s;
}

#content {
  position: relative;
  color: var(-para-font-color);
  font-family: 'Raleway';
  font-size: var(--paraFontSize);
  /* font-size: 1.5vw; */
  line-height: 2em;
  text-align: left;
}

#warn {
  text-align: center;
  padding-bottom: 1.1em;
  /* font-size: 1.5em; */
  font-size: 2vw;
  font-weight: 700;
  color: #CB4335;
}

#para__one {
  padding-bottom: 1.5em;
}

/* .button {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-top: 3rem;
  animation-duration: 1000ms;
} */

/* .button__exam {
  font-size: 1.75rem;
  color: #FFF;
  text-decoration: none;
  padding: 1.5rem 2rem;
  border: 1px solid transparent;
  background-color: #666;
  margin-top: 1rem;
  opacity: 1;
  letter-spacing: 2px;
  width: 35rem;
  height: auto;
} */

/* .button__exam:hover {
  background-color: #555;
  border: 1px dashed #fff;
  letter-spacing: 3px;
  font-weight: bold;
  color: dodgerblue;
  box-shadow: 3px 3px 3px rgba(100, 100, 100, 0.85);
  cursor: pointer;
} */

/* .button__exam:after {
  content: " \f18e";
  font-family: fontawesome;
  color: inherit;
  font-weight: 250;
  opacity: 0;
} */

/* .button__exam:hover:after {
  opacity: 1;
} */

.bottom {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 1.5em;
  width: 100vw;
}

#footer-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 0.3rem;
  padding: 0.5rem 0.5rem;
  font-family: var(--footerFont);
  color: var(--footerFontColor);
  font-size: var(--footerFontSize);
  /* font-size: 1.2vw; */
  line-height: var(--footerLineHeight);
  letter-spacing: var(--footerLetterSpacing);
  font-weight: 400;
  line-height: 1.2rem;
  width: 90%;
}

.fp1, .fp2, .fp3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.25rem;
  padding: 0rem;
}

.fp3 {
  margin: 0rem;
}

.disclaimer {
  display: flex;
  position: relative;
  left: 0rem;
  bottom: 0.5rem;
  margin-top: 0.5rem;
  width: auto;
}

#disclaimer-text {
  display: flex;
  margin: 0.5rem 10rem 0.5rem 10rem;
  padding: 0.5rem 0.5rem;
  align-items: center;
  justify-content: center;
  color: var(--disclaimerFontColor);
  font-size: var(--disclaimerFontSize);
  font-family: var(--disclaimerFont);
  letter-spacing: var(--disclaimerLetterSpacing);
  border: var(--disclaimerBorder);
  border-radius: var(--disclaimerBorderRadius);
  line-height: var(--disclaimerLineHeight);
  background-color: var(--disclaimerBgColor);
}

/* ==================================================================== */
/* -- SETS FORMAT OF DOCUMENT WHEN PRINTING -- */
@media print {
  .no-print, .no-print * {
    display: none;
  }

  html, body {
    margin: 0rem;
    background: transparent;
    color: #000;
  }

  .patch {
    height: 12.5%;
    width: 12.5%;
  }

  #title p {
    color: #000;
  }

  .container {
    border: 1px dashed #000;
  }

  .button__exam {
    border: 1px dashed #000;
    color: black;
  }

  .button__exam:after {
    content: " \f18e";
    font-family: fontawesome;
    color: black;
    opacity: 1;
  }
}

/* TRANSITION CSS */
/* .box {
  background: red;
  width: 300px;
  height: 300px;
  position: relative;
  margin: auto;
  top: 200px;
  transition-property: all;
  transition-property: background, border-radius, transform;
  transition-duration: 250ms;
  transition-duration: 1s, 3s;
} */
/* .box:hover {
  background: blue;
  border: 1px dashed white;
  border-radius: 50%;
  transform: rotateY(180deg);
} */
/* ANIMATION CSS */
/* .box {
  background: white;
  width: 200px;
  height: 200px;
  position: relative;
  animation-name: myanimation;
  animation-duration: 4s;
  animation-iteration-count: 1 ;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
} */
/* @keyframes myanimation {
  0%   { background-color: white; opacity: 1.0; left: 0px; top: 0px; border-radius: 0 0 0 0; }
  25%  { background-color: red; opacity: 0.5; left: 500px; top: 0px; border-radius: 50% 0 0 0; }
  50%  { background-color: green; opacity: 0; left: 500px; top: 500px; border-radius: 50% 50% 0 0; }
  75%  { background-color: blue; opacity: 0.5; left: 0px; top: 500px; border-radius: 50% 50% 50% 0; }
  100% { background-color: white; opacity: 1.0; left: 0px; top: 0px; border-radius: 50% 50% 50% 50%; }
} */
