*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.center {
    text-align: center;
}

.numList {
    font-family: Roboto;
    font-size: 1.15em;
    line-height: 1.35;
    margin-left: 10%;
    margin-right: 10%;
}

html {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
}

body {
    background: #fff;
    font-size: 16px;
    color: #181B20;
    --dropBtnColor: #1E8449;
    --navBtnPadding: 1px 0px 1px 10px;
    --navBtnColorHover: #2874A6;
    --navBtnHoverTextColor: #FFFFFF;
    --navBtnHoverBorder: 1px dashed #FFFFFF;
    --navBtnHoverRadius: 5px;
    --navBtnHeight: 2.25em;
    --navBtnWidth: 90%;
    --navBtnFontFamily: 'Roboto Light';
    --navBtnFontSize: 1.05em;
    margin: 0;
    padding: 0;
}

.nav__background {
    background: #bbb
}

.magnet-logo {
    height: 150px;
    margin: 32px 0px 32px 0px;
    width: 150px;
}

.heading {
    background-color: rgb(230, 230, 230);
    margin: 0.2em 0em;
    padding: 5px 0px 5px 0px;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

}

/* My Added Style */
.btn__1 {
    border: 1px;
    padding: var(--navBtnPadding);
    width: var(--navBtnWidth);
    height: var(--navBtnHeight);
    text-align: left;
    text-decoration: none;
    color: black;
    font-size: var(--navBtnFontSize);
    font-family: var(--navBtnFontFamily);
    /* border: 1px solid black; */
    border: 0px solid transparent;
    background-color: transparent;
    margin: 0.15em 0em 0em 1em;
}

/* My Added Style */
.btn__1:hover {
    background-color: var(--navBtnColorHover);
    color: var(--navBtnHoverTextColor);
    border: var(--navBtnHoverBorder);
    border-radius: var(--navBtnHoverRadius);
    font-weight: 700;
    transition: all 0.2s ease;
    cursor: pointer;
    height: 2.25em;
    box-shadow: 5px 5px 5px #7F8C8D;
}

.btn__1 a {
    text-decoration: none
}

.btn__1 a:active {
    text-decoration: underline;
    color: #CB4335;
}

.btn__1 a:visited {
    text-decoration: none;
    color: #000000;
}