
* { margin: 0; padding: 0; }

body { margin: 0; padding: 0; background: #fff; font-family: Calibri; font-size: 9px; color: #181B20; }

#header-search { display: none; }

#page-title { float: left; font-size: 22px; font-weight: bold; padding: 14px 0px; clear: both; color: #000; width: Auto; height: 35px; }

.magnet-logo { width: 150px; height: 150px; margin-top: 32px; }

#wrapper { width: 750px; padding-top: 0px; }

.header-title { font-size: 14px; font-weight: bold; }

th.header { cursor: pointer; font-weight: bold; background-repeat: no-repeat; background-position: calc(100% - 6px); padding-right: 20px; border-right: 1px solid #dad9c7;  margin-right: 2px; }

th.headerSortUp { background-image: url(./images/desc.gif); }

th.headerSortDown { background-image: url(./images/asc.gif); }

.floatThead-container { top: 0px !important; }

/* Show the table header on each page */
thead { display: table-header-group; }

.sortable thead { -fs-table-paginate: paginate; }

tbody { display:table-row-group; }

tbody tr .head { page-break-before: always; page-break-inside: avoid; }

center > b { font-size: 14px; }

.tablesorter { font-size: xx-small; color: #000; }
